:root { 
--gray_50_01:#f7f5ff; 
--red_800:#b94029; 
--green_A700_01:#04c35c; 
--red_200:#e2abab; 
--deep_orange_100_01:#ffb7b7; 
--amber_A700_02:#e5a800; 
--amber_A700_01:#e3a900; 
--deep_purple_200:#afaad0; 
--yellow_400:#f6e266; 
--green_A700:#1dbf73; 
--amber_A700:#e6ac01; 
--amber_A700_03:#e6a901; 
--yellow_800:#e7a52e; 
--light_green_600:#67c23a; 
--gray_900_0a:#2222220a; 
--blue_gray_900_01:#2d3748; 
--blue_gray_700:#454b69; 
--blue_gray_900:#2f2e41; 
--deep_orange_100:#ffb8b8; 
--pink_100:#efb7b9; 
--gray_600:#717171; 
--black_900_0a:#0000000a; 
--gray_400:#c4c4c4; 
--blue_gray_100:#cbcbcb; 
--amber_700:#dea301; 
--amber_100:#fbf4af; 
--orange_600:#d69b00; 
--amber_300:#ffc85e; 
--indigo_400:#5e4edb; 
--deep_purple_50:#ebe8ff; 
--orange_200_e5:#ffbc82e5; 
--gray_100_01:#f2f2f2; 
--amber_700_01:#e2a401; 
--white_A700:#ffffff; 
--amber_700_02:#e3a401; 
--red_500_01:#ff2a2a; 
--gray_700_01:#606060; 
--red_500:#ff4343; 
--deep_purple_100:#d0cde1; 
--orange_300_01:#eab14d; 
--gray_50:#f6fafd; 
--red_100:#ffdbdb; 
--black_900_1e:#0000001e; 
--black_900:#000000; 
--gray_500_01:#9c9ca1; 
--deep_orange_800:#c85929; 
--yellow_900:#e28424; 
--blue_gray_800:#3f3d56; 
--gray_500_02:#939498; 
--gray_900_02:#1a202c; 
--gray_700:#606266; 
--amber_600_01:#e9b000; 
--amber_600_02:#efb400; 
--gray_500:#909399; 
--gray_600_01:#a0616a; 
--blue_gray_600:#656083; 
--amber_600:#efb502; 
--gray_900:#1f1a17; 
--gray_900_01:#222222; 
--teal_50:#d7ffec; 
--amber_600_03:#eeb301; 
--orange_300:#fba457; 
--gray_300:#dcdfe6; 
--green_A700_71:#1dbf7371; 
--gray_300_01:#e6e6e6; 
--gray_100:#f2f0fe; 
--orange_100:#ffd6b1; 
--orange_50:#ffeddd; 
}